#dataSourceInput {
	width: 100px;
}

#debug {
	float:right;
	color:red;
	background: #B0E0B0;
	font-weight: bold;
	padding: 4px;
}

textarea {
	font-family: monospace;
	width:100%;
	height:12em;
}

#item-list, #templateForm {
	margin-top: 1em;;
}

#current-univer {
	font-weight: bold;
}