
	  <div id="debug">{{ model.items.length }}<br/>{{model.template.length}}</div>
	  Univers : {{ dataSource }}
	  
		<p><span id="IOmessage">{{ IOmessage}} </span></p>
		
		<uib-tabset>
		<uib-tab heading="Données">
			<table class="table table-condensed" id="item-list">
				<!-- tracking neeeded to make add working -->
				<tr ng-repeat="item in model.items track by item.url">
					<td>{{ item.url | domain }}</td>
					<td>{{ item.id }}</td>
					<td>
						<a href ng-click="view($index)" >json</a>		
						<a href="{{ item.url }}" target="_blank"><i class="glyphicon  glyphicon-globe"></i></a>
						<a href ng-click="delete($index)" ><i class="glyphicon  glyphicon-trash"></i></a>
					</td>
				</tr>
			</table>
			
			<input id="extractbutton" type="button" class="btn btn-default" value="Extract" ng-click="extract()" />
			
			JSON : <span ng-messages="myForm.jsonArea.$error" style="color:red" role="alert">
					<span ng-message="id">An id is required</span>
				   </span>
				   <br/>
				   
			<form name="myForm" novalidate>
				<textarea type="textarea" name="jsonArea" id="jsonArea"
						  ng-model='model.currentItem'
						  json-text> </textarea>
				<input id="commitbutton" type="button" class="btn btn-default" value="Commit" ng-click="commit()"
					   ng-disabled="myForm.$invalid"/>
			</form>
		</uib-tab>
		<uib-tab heading="Template">
			<form name="templateForm" id="templateForm">	  
			  <span ng-show="templateForm.$dirty">Save needed</span>
			  <textarea ng-model="model.template" id="templateArea" style=""></textarea>
			</form>
			
			Template Result :<br/>
			<div id="template" dynamic="model.template" style="width:100%;min-height:100px;border:1px solid rgb(169,169,169)"></div>
		</uib-tab>
	  </uib-tabset>


