<p>Données</p>
<table class="table table-condensed" id="item-list">
	<thead>
		<tr>
			<th>Site</th>
			<th>Id</th>
			<th>Action</th>
		</tr>	
	</thead>
	<!-- tracking neeeded to make add working -->
	<tr ng-repeat="item in model.items track by item.url">
		<td>{{ item.url | domain }}</td>
		<td>{{ item.id }}</td>
		<td>
			<a href ng-click="view($index)" >json</a>		
			<a href="{{ item.url }}" target="_blank"><i class="glyphicon  glyphicon-globe"></i></a>
			<a href ng-click="delete($index)" ><i class="glyphicon  glyphicon-trash"></i></a>
		</td>
	</tr>
</table>
	
<div class="form-group">
	<input id="extractbutton" type="button" class="btn btn-default" value="Extraire" ng-click="extract()" />
	<input id="refreshbutton" type="button" class="btn btn-default" value="Réactualiser" ng-click="refresh()" />
	<span id="IOmessage">{{ IOmessage}} </span>
	<span ng-messages="myForm.jsonArea.$error" style="color:red" role="alert">
		<span ng-message="id">An id is required</span>
	</span>
</div>

	   
<form name="myForm" novalidate>
    <div class="form-group">
		<label for="jsonArea">JSON</label>
		<textarea type="textarea" name="jsonArea" id="jsonArea"
			  ng-model='model.currentItem'
			  json-text> </textarea>
	</div>
	<input id="commitbutton" type="button" class="btn btn-default" value="Commit" ng-click="commit()"
		   ng-disabled="myForm.$invalid"/>
</form>