<p>Données</p>
<input type="text" name="searchText" class="form-control" id="searchText" placeholder="Filtre" ng-model="searchText">
<div id="datatable" class="form-group">
<table class="table table-condensed" id="item-list" style="max-height:100px">
	<thead>
		<tr>
			<th>Site</th>
			<th>Id</th>
			<th>Action</th>
		</tr>
	</thead>
	<!-- tracking neeeded to make add working -->
	<tr ng-repeat="item in model.items | filter : searchText track by item.url">
		<td>{{ item.url | domain }}</td>
		<td>{{ item.id }}</td>
		<td>
			<a href ng-click="view(item)" >json</a>
			<a href="{{ item.url }}" target="_blank"><i class="glyphicon  glyphicon-globe"></i></a>
			<a href ng-click="delete(item)" ><i class="glyphicon  glyphicon-trash"></i></a>
		</td>
	</tr>
</table>
</div>
<a ng-click="create()">Ajouter une donnée</a>

<div class="form-group">
	<input id="extractbutton" type="button" class="btn btn-default" value="Extraire" ng-click="extract()" />
	<input id="extracttabsbutton" type="button" class="btn btn-default" value="Extraire onglets" ng-click="extractTabs()" />
	<input id="refreshtabsbutton" type="button" class="btn btn-default" value="Réactualiser onglets" ng-click="refreshTabs()" />
	<input id="refreshallbutton" type="button" class="btn btn-default" value="Réactualiser tout" ng-click="refreshAll()" />
	<input id="searchbutton" type="button" class="btn btn-default" value="Chercher tout" title="lance une recherche amazon avec le titre de tous les items" ng-click="searchAll()" />
	<span ng-show="model.currentIndex == -1">Nouvelle donnée</span>
	<span ng-show="myForm.$dirty">Sauvegarde nécessaire</span>
	<span ng-show="writeSuccess && myForm.$pristine">Modification sauvegardée</span>
	<span ng-messages="myForm.jsonitem.$error" style="color:red" role="alert">
		<span ng-message="hasid">An id is required</span>
	</span>
</div>


<form name="myForm" novalidate>
    <div class="form-group">
		<label for="jsonArea">JSON</label>
		<textarea name="jsonitem" type="text"
		          ng-model="model.currentjson" 
		          textcomplete textcomplete-item-list="model.items" textcomplete-value-property="id"
				  hasid
				  rows="5"
				  placeholder="Cliquez sur Extraire ..." spellcheck="false"></textarea>
	</div>

	<input id="commitbutton" type="button" class="btn btn-default" value="Commit" ng-click="commit()"
		   ng-disabled="myForm.$invalid"/>
</form>

<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title" id="modal-title">I'm a modal!</h3>
		</div>
		<div class="modal-body" id="modal-body">
			<ul>
				<li ng-repeat="item in $ctrl.items">
					<a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
				</li>
			</ul>
			Selected: <b>{{ $ctrl.selected.item }}</b>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
		</div>
	</script>
	{{ $ctrl.selected }}
	<button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
</div>
