<h3>Extractor</h3>
<form name="myForm">
    <div class="form-group">
        <label for="extractorId">Identifiant</label>
        <input type="text" name="id" class="form-control" id="extractorId" placeholder="Identifiant" ng-model="extractorId" required>
    </div>
    <div class="form-group"
        <label for="url-pattern">URL pattern</label>
        <input name="url-pattern" id="url-pattern" type="text" ng-model="extractor.urlpattern"

               class="form-control" placeholder="http://www.domain.com/pattern" required/>
    </div>

    <div class="form-group">
        <input id="extractbutton" type="button" class="btn btn-default" value="Tester extracteur" ng-click="extract()"
        ng-disabled="myForm.codeToInjectArea.$invalid"/>
        <input type="button" class="btn btn-default" value="Sauver code" ng-click="write()"
            ng-disabled="myForm.$invalid"/>
        <a ng-hide="extractor.urlexample == undefined" href="{{extractor.urlexample}}" target="_blank">open example</a>
        <span ng-show="myForm.$dirty">Sauvegarde nécessaire</span>
        <span ng-show="writeSuccess && myForm.$pristine">Modification sauvegardée</span>
    </div>

    <div class="form-group">
        <label for="codeToInjectArea">Code d'extraction à injecter</label>
        <textarea name="codeToInjectArea" id="codeToInjectArea"
                  class="form-control" rows="5"
                  placeholder="result.property = 12;"
                  required
                  ng-model="extractor.code" ></textarea>
    </div>

    <div class="form-group">
        <input id="extractbutton" type="button" class="btn btn-default" value="Tester extracteur" ng-click="extract()"
                ng-disabled="myForm.codeToInjectArea.$invalid"/>
    </div>

    <div class="form-group">
        <label for="resultJSON">Resultat</label>
        <textarea type="textarea" id="resultJSON" name="resultJSON" name="resultJSON"
                placeholder="cliquez sur Extract ..." ng-model='resultJSON | json'></textarea>
    </div>

    <div class="form-group">
        <input id="copybutton" type="button" class="btn btn-default" value="Copie" ng-click="copy()"/>
    </div>

    <div class="form-group">
        <input id="analysebutton" type="button" class="btn btn-default" value="Analyse" ng-click="analyse()"/>
    </div>
</form>
