<p>{{ nbItems }} item(s) merged</p>
<form name="templateForm" id="templateForm">	
    <div class="form-group">
		<label for="templateArea">Template</label>
		<span ng-show="templateForm.$dirty">Sauvegarde nécessaire</span>
		<span ng-show="writeSuccess">Sauvegarde réalisée</span>
		<span id="IOmessage">{{ IOmessage }} </span>
		<textarea ng-model="template" id="templateArea" style=""></textarea>
	</div>
</form>

<div class="form-group">
	<label for="template">Resultat</label>
	<div id="template" dynamic="template"></div>
</div>